body {
  color: #3d3a3c;
}
strong {
  color: #a374a8;
}
header {
  background-image:url('anna1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  width: 100%;
  height: 100vh;
  margin-top: 0px;
  text-align: center;
  box-sizing: border-box;
  padding: 33vh 0 0 0;
  color: #000;
}
h1 {
  font-family: 'Neuton', serif;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 53px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #564b57;
  text-transform: none;
}
h2 {
  font-family: 'Neuton', serif;
  margin-top: 0px;
  font-size: 36px;
  letter-spacing: 0px;
  color: #bc88bf;
}
h3 {
  font-family: 'Neuton', serif;
  margin-top: 0px;
  margin-bottom: 80px;
  font-size: 26px;
  letter-spacing: 0px;
  color: #b39bd4;
}
h4 {
  font-family: 'Neuton', serif;
  color: #564b57;
  font-size: 26px;
}
.fun {
  width: 100%;
  height: 10vh;
  background-image:url('ripples.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 220px;
  margin: 0px;
}
.fun.two {
  height: 8vh;
}
.intro {
  padding: 40px 100px 40px 100px;
  margin: 0px;
  font-family: 'Neuton', serif;
  font-size: 22px;
  text-align: justify;
  line-height: 42px;
}
.box {
  box-sizing: border-box;
  width: 100%;
  min-height: 70vh;
  text-align: justify;
}
#card {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
#card2 {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.front:hover {
  cursor: pointer;
}
.back:hover {
  cursor: pointer;
}
.front.one h1 {
  margin-bottom: 20px;
  font-size: 2.6vw;
  font-weight: normal;
  color: #bdbdbd;
}
.front.two h1 {
  margin-bottom: 20px;
  font-size: 2.6vw;
  font-weight: normal;
  color: #3d3a3c;
}
.front h3 {
  font-size: 1.4vw;
  letter-spacing: 1px;
  color: #719184;
  text-transform: none;
}
.front.one {
  background-image:url('papy.png');
  background-repeat: repeat;
  background-size: 260px;
  width: 100%;
  margin: 0px;
  box-sizing: border-box;
  padding: 32vh 0px 0px 0px;
  font-family: 'Neuton', serif;
  font-size: 40px;
  text-align: center;
}
.back.one {
  background-image:url('one.png');
  background-repeat: repeat;
  background-size: 230px;
  width: 100%;
  margin: 0px;
  box-sizing: border-box;
  padding: 40px 50px 40px 50px;
  font-family: 'Neuton', serif;
  font-size: 20px;
  line-height: 33px;
  color: #3d3a3c;
  text-align: justify;
}
.back.one ol {
  text-align: justify;
  background-color: rgba(0,0,0,0.1);
  padding: 0.5vw 2vw 0.8vw 2vw;
  border-left: 3px solid #aaa;
  line-height: 39px;
}
.front.two {
  background-image:url('one.png');
  background-repeat: repeat;
  background-size: 230px;
  width: 100%;
  margin: 0px;
  box-sizing: border-box;
  padding: 32vh 0px 0px 0px;
  font-family: 'Neuton', serif;
  font-size: 40px;
  text-align: center;
}
.back.two {
  background-image:url('papy.png');
  background-repeat: repeat;
  background-size: 260px;
  width: 100%;
  margin: 0px;
  box-sizing: border-box;
  padding: 40px 50px 40px 50px;
  text-align: justify;
  font-family: 'Neuton', serif;
  font-size: 20px;
  line-height: 36px;
  color: #bdbdbd;
}
blockquote {
  background-color: rgba(255,255,255,0.1);
  padding: 0.5vw 2vw 0.8vw 2vw;
  border-left: 3px solid #aaa;
}
.continue {
  background-color: #e9ede4;
  box-sizing: border-box;
  width: 100%;
  padding: 60px 50px 60px 50px;
  text-align: center;
  font-size: 25px;
  font-family: 'Neuton', serif;
  color: #564b57;
}
.continue h1 {
  font-family: 'Neuton', serif;
  font-size: 28px;
  font-weight: normal;
}
.continue h2 {
  font-family: 'Neuton', serif;
  font-size: 24px;
  font-weight: normal;
  color: #597357;
}
small {
  color: #719184;
}
.wide1 {
  background-image:url('interactive.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
  width: 100%;
  padding: 0px;
}
.wide1:hover {
  cursor: pointer;
}
.image1 {
  background-image:url('interactive2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
  width: 100%;
}
#reveal1 {
  display: none;
}
#reveal2 {
  display: none;
}
.wide2 {
  background-image:url('representational.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
  width: 100%;
  padding: 0px;
}
.wide2:hover {
  cursor: pointer;
}
.image2 {
  background-image:url('representational2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
  width: 100%;
}
.onward {
  background-color: #fff;
  box-sizing: border-box;
  width: 100%;
  padding: 60px 90px 60px 90px;
  font-family: 'Neuton', serif;
  font-size: 22px;
  text-align: justify;
  line-height: 40px;
}
.item {
  background-color: rgba(255,255,255,0.7);
  box-sizing: border-box;
  padding-bottom: 100%;
  min-height: 5vh;
  color: #3d3a3c;
  font-family: 'Neuton', serif;
  font-size: 20px;
}
.repre {
  background-color: #fff;
  background-size: 230px;
  padding: 0 10vw 0 10vw;
  margin-top: 3vh;
}
.repre2 {
  background-color: #fff;
  background-size: 230px;
  padding: 0 10vw 0 10vw;
  margin-top: -24px;
  margin-bottom: 7vh;
}
.box2 {
  box-sizing: border-box;
  width: 100%;
  min-height: 60vh;
  text-align: justify;
  line-height: 32px;
}
.box2 h1 {
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
  color: #564b57;
  font-family: 'Neuton', serif;
}
#card3 {
  width: 100%;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
#card4 {
  width: 100%;
  box-sizing: border-box;
  padding: 00px;
  margin: 0px;
}
#card5 {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
#card6 {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.front.three {
  background-image:url('deictic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  box-sizing: border-box;
  border: 15px solid #e9ede4;
}
.back.three {
  background-image:url('one.png');
  background-repeat: repeat;
  background-size: 230px;
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  font-family: 'Neuton', serif;
  font-size: 18px;
}
.front.four {
  background-image:url('show.jpg');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
  border: 15px solid #ede4ed;
}
.back.four {
  background-image:url('one.png');
  background-repeat: repeat;
  background-size: 230px;
  width: 100%;
  margin: 0px;
  padding: 30px;
  font-family: 'Neuton', serif;
  font-size: 18px;
  box-sizing: border-box;
}
.front.five {
  background-image:url('metaphoric.jpg');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  box-sizing: border-box;
  border: 15px solid #fff4d6;
}
.back.five {
  background-image:url('one.png');
  background-repeat: repeat;
  background-size: 230px;
  width: 100%;
  padding: 30px;
  font-family: 'Neuton', serif;
  font-size: 18px;
  box-sizing: border-box;
}
.front.six {
  background-image:url('emblem.jpg');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  box-sizing: border-box;
  border: 15px solid #dce8fc;
}
.back.six {
  background-image:url('one.png');
  background-repeat: repeat;
  background-size: 230px;
  width: 100%;
  padding: 30px;
  font-family: 'Neuton', serif;
  font-size: 18px;
  box-sizing: border-box;
}
.all {
  width: 100%;
  box-sizing: border-box;
  height: 50vh;
  line-height: 50vh;
  background-color: #e9ede4;
  color: #564b57;
  font-family: 'Neuton', serif;
  text-align: center;
  font-size: 36px;
}
.nope {
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  padding: 15vh;
  font-family: 'Neuton', serif;
  text-align: center;
  color: #597357;
  font-size: 23px;
  line-height: 38px;
  min-height: 50vh;
}
.nope h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #597357;
}
.unite {
  width: 100%;
  box-sizing: border-box;
  padding: 7vw;
  background-color: #dce8fc;
  font-family: 'Neuton', serif;
  font-size: 22px;
  line-height: 38px;
  text-align: justify;
}
.unite ol {
  text-align: justify;
  background-color: rgba(237, 244, 255, 0.8);
  padding: 0.5vw 2vw 0.8vw 2vw;
  border-left: 3px solid #849dc4;
  line-height: 39px;
}
.conclusion {
  width: 100%;
  box-sizing: border-box;
  padding: 8vw;
  background-color: #edf4ff;
  font-family: 'Neuton', serif;
  font-size: 24px;
  color: #556680;
  line-height: 38px;
  text-align: center;
}
.hands {
  width: 100%;
  height: 50vh;
  background-image:url('hands.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.references {
  background-color: #ede4ed;
  width: 100%;
  box-sizing: border-box;
  padding: 60px;
  text-align: justify;
  font-family: 'Neuton', serif;
  font-size: 18px;
  line-height: 29px;
}
.references h4 {
  margin-bottom: 15px;
}
footer {
  background-color: #fff;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 25px;
  font-family: 'Neuton', serif;
  font-size: 16px;
  line-height: 30px;
  color: #3d3a3c;
}
footer a {
  color: #597357;
}
footer a:hover {
  color: #597357;
  text-decoration: none;
}
@media only screen and (max-width: 992px) {
  .front.one h1 { font-size: 4.3vw; }
  .front.two h1 { font-size: 4.3vw; }
  .front h3 { font-size: 3vw; }
  .front.one { padding: 50vh 0px 0px 0px; }
  .front.two { padding: 50vh 0px 0px 0px; }
  .back.one ol { padding: 2vw 2vw 2vw 5vw; }
  .unite ol { padding: 0.5vw 2vw 0.8vw 5vw; line-height: 35px; }
  .intro { padding: 30px 50px 30px 50px; font-size: 20px; line-height: 38px; }
  .onward { padding: 40px 60px 40px 60px; font-size: 20px; line-height: 38px; }
  .all { font-size: 30px; }
  .nope { padding: 6vh; font-size: 21px; line-height: 35px; }
  .unite { padding: 7vw; font-size: 20px; line-height: 34px; }
  .conclusion { padding: 8vw; font-size: 22px; line-height: 34px; }
}
@media only screen and (max-width: 768px) {
  .front.one { padding: 30vh 0px 0px 0px; }
  .front.two { padding: 30vh 0px 0px 0px; }
}
@media only screen and (max-width: 500px) {
  .front.one { padding: 40vh 0px 0px 0px; }
  .front.two { padding: 40vh 0px 0px 0px; }
  .front.one h1 { font-size: 7vw; }
  .front.two h1 { font-size: 7vw; }
  .front h3 { font-size: 5vw; }
}
